.addform{
    width: 80% !important
}

.form-group label{
    color: rgb(255, 255, 255) !important;
}

.signuprow{
    display: flex !important;
    justify-content: end !important;
    align-items: flex-end !important;
}


.signupbtn{
   width: 190px !important;
}